@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand: #517EC1;
  --color-brand-bar: #B7BEE2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  /* Firefox */
  scrollbar-width: none;
  /* Старый Edge/IE */
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  /* Chrome/Edge/Safari */
  width: 0;
  height: 0;
}
